ERP_CLIENT_ID=preencher_aqui
ERP_CLIENT_SECRET=preencher_aqui
ERP_SYNDATA=preencher_aqui
HUB_JWT_SECRET=MINHACHAVESECRETA123
MASSIVA_COOKIE_STRING=PHPSESSID=preencher_aqui

ELLEVEN_MASSIVA_ENDPOINT=
MASSIVA_API_GATEWAY_LIST_ENDPOINT=http://api-gateway-bff.sebratel.net.br/api/v1/massivas/recuperar-pelo-banco
ELLEVEN_MASSIVA_LIST_ENDPOINT=http://api-gateway-bff.sebratel.net.br/api/v1/massivas/recuperar-pelo-banco
ELLEVEN_MASSIVA_LIST_BEARER=
ELLEVEN_MASSIVA_LIST_HEADER_NAME=
ELLEVEN_MASSIVA_LIST_HEADER_VALUE=

AUTOISP_EVENTS_ENDPOINT=
AUTOISP_AUTH_ENDPOINT=
AUTOISP_USERNAME=
AUTOISP_PASSWORD=

MIDDLEWARE_MASSIVA_BASE_URL=
REVERSE_GEOCODE_ENDPOINT=
LOCAL_USER_EMAIL=dev@local
LOCAL_MASSIVA_ENABLED=true
